package layout

templ Base() {
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Echo/Templ</title>
            <meta charset="UTF-8"/>
            <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
            <script src="https://unpkg.com/htmx.org@1.9.11"></script>
            <script src="https://cdn.tailwindcss.com"></script>
        </head>
        <body>
            { children... }
        </body>
    </html>
}
